

body{
        font-family: sans-serif;
    }

.nav_container{
  width:1150px;
  margin:auto;


}

.activity_nav{
  height:50px;
  margin-bottom: 20px;
}

#option{
  dislay:inline-block;
  float:right;
  /*border:solid black 5px;*/
}

.grid{
        margin-top: 30px;
        text-align: center;
    }


div .col-6-12{
        padding-left: 20px;
        margin-top: 30px;
    }

#canvas-line_chart{
        text-align:center;
    }

.primary_path {
       stroke: steelblue;
       stroke-width: 2;
       fill: none;
    }

line {
      stroke: black;
    }

text {
      font-family: Arial;
      font-size: 9pt;
    }


