
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>D3 | Challange </title>
    <link rel="stylesheet" href="css/simplegrid.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>


    <script type="text/javascript" src="d3/d3.js"></script>
  </head>

<body>

    <div class="nav_container">
       <div class = "activity_nav">
                <h3>Activity</h3>
                <!-- <ul ng-init="tab = 1">
                        <li ng-class="{active:tab===1}"><a ng-click="tab = 1">ONE DAY</a></li>
                        <li ng-class="{active:tab===2}"><a ng-click="tab = 2">TWO DAY</a></li>
                        <li ng-class="{active:tab===3}"><a ng-click="tab = 3">THREE DAY</a></li>
                </ul> -->

                <div id="option">
                    <input name="updateButton"
                            type="button"
                            value="Update"
                            onclick="updateData()" />
                </div><!-- option -->
        </div><!-- activity_nav -->
    </div><!--  nav-container  -->

   <div id="canvas-line_chart">
   </div>


    <div class="grid">
        <div class="col-6-12">
           <div class="content">
            <div id="segments">
                <h3>Segments</h3>
                <h5>All</h5>
                <h5>Male</h5>
                <h5>Female</h5>
            </div><!-- segments -->
           </div><!-- content -->
        </div><!-- col-6-12 -->

        <div class="col-6-12">
           <div class="content">
                <div id= "canvas-pie_chart">
                </div>
           </div>
        </div><!-- col-6-12 -->
    </div><!-- grid -->



<script type="text/javascript">


var dayHours = {};


//function to convert one-day of data into asssoicate array of calcualations per hour.
function formatData(){

    d3.csv("sample_data_071714.csv", function(error, data) {

        data.forEach(function(d) {
            var newTime = d.Time.replace(/:/g, '');
            d.Time = militaryTime(newTime);


            d.Activity = Number(d.Activity)

            if (String(d.Time).length === 3){

                var key = Number((String(d.Time).slice(0,1)));
                if(key in dayHours){
                    dayHours[key].Activity = dayHours[key].Activity + d.Activity
                }else{
                    dayHours[key] = {Activity: d.Activity}
                }

                if(d.Gender === "female"){
                dayHours[key].Female = (dayHours[key].Female || 0) + 1;
                }
                if(d.Gender === "male"){
                  dayHours[key].Male = (dayHours[key].Male || 0) + 1;
                }
                if(d.Device === "mobile"){
                  dayHours[key].Mobile = (dayHours[key].Mobile || 0) + 1;
                }
                if(d.Device === "tablet"){
                  dayHours[key].Tablet = (dayHours[key].Tablet || 0) + 1;
                }
                if(d.Device === "desktop"){
                  dayHours[key].Desktop= (dayHours[key].Desktop || 0) + 1;
                }
            }

            if (String(d.Time).length === 4 && (String(d.Time)).slice(0,1) === "1"){
                var key = Number((String(d.Time).slice(0,2)));
                if(key in dayHours){
                    dayHours[key].Activity = dayHours[key].Activity + d.Activity
                }else{
                    dayHours[key] = {Activity: d.Activity }
                }

                if(d.Gender === "female"){
                    dayHours[key].Female = (dayHours[key].Female || 0) + 1;
                }
                if(d.Gender === "male"){
                    dayHours[key].Male = (dayHours[key].Male || 0) + 1;
                }
                if(d.Device === "mobile"){
                    dayHours[key].Mobile = (dayHours[key].Mobile || 0) + 1;
                }
                if(d.Device === "tablet"){
                    dayHours[key].Tablet = (dayHours[key].Tablet || 0) + 1;
                }
                if(d.Device === "desktop"){
                    dayHours[key].Desktop= (dayHours[key].Desktop || 0) + 1;
                }
             }

            if (String(d.Time).length === 4 && (String(d.Time)).slice(0,1) === "2"){
                var key = Number((String(d.Time).slice(0,2)));
                if(key in dayHours){
                    dayHours[key].Activity = dayHours[key].Activity + d.Activity
                }else{
                    dayHours[key] = {Activity: d.Activity }
                }

                if(d.Gender === "female"){
                    dayHours[key].Female = (dayHours[key].Female || 0) + 1;
                }
                if(d.Gender === "male"){
                    dayHours[key].Male = (dayHours[key].Male || 0) + 1;
                }
                if(d.Device === "mobile"){
                    dayHours[key].Mobile = (dayHours[key].Mobile || 0) + 1;
                }
                if(d.Device === "tablet"){
                    dayHours[key].Tablet = (dayHours[key].Tablet || 0) + 1;
                }
                if(d.Device === "desktop"){
                    dayHours[key].Desktop= (dayHours[key].Desktop || 0) + 1;
              }
           }

        });


    var totalRows = data.length;

    for(var hour in dayHours){
    var obj = dayHours[hour];

        if(obj.hasOwnProperty("Activity")){
          var totalActive = obj.Activity;
          var average = totalActive/totalRows;
              dayHours[hour].Average = average;
        }
    }
     console.log(dayHours);
    });
}


//Helper function to convert AM/PM to military time for calculation.
function militaryTime(time){
  if(time.slice(time.length-2) === "PM"){
     var nightTime = Number(time.slice(0,time.length-3));
     if (nightTime <1200)
        nightTime += 1200;
     return nightTime;

  }else{
    var dayTime = Number(time.slice(0,time.length-3));
    if (dayTime >= 1200 )
         dayTime += 1200;
    return dayTime;
  }


}






/// DRAWING D3 CHARTS WITH DUMMY DATA

var data = [44, 38, 50, 66, 53, 81, 44, 42, 60, 50, 37, 72, 80, 46, 40, 41, 87, 14, 50, 50, 37, 33, 60,33]

var w = 1150;
var h = 575;
var margin = 20;
y = d3.scale.linear().domain([0, d3.max(data)]).range([0 + margin, h - margin]);
x = d3.scale.linear().domain([0, data.length]).range([0 + margin, w - margin]);

var vis = d3.select("#canvas-line_chart")
    .append("svg:svg")
    .attr("width", w)
    .attr("height", h)

var g = vis.append("svg:g")
    .attr("transform", "translate(0, 550)");

var line = d3.svg.line()
    .x(function(d,i) { return x(i); })
    .y(function(d) { return -1 * y(d); });

g.append("svg:path").attr("d", line(data))
    .attr("class", "primary_path");

g.append("svg:line")
    .attr("x1", x(0))
    .attr("y1", -1 * y(0))
    .attr("x2", x(w))
    .attr("y2", -1 * y(0))

g.append("svg:line")
    .attr("x1", x(0))
    .attr("y1", -1 * y(0))
    .attr("x2", x(0))
    .attr("y2", -1 * y(d3.max(data)))

g.selectAll(".xLabel")
    .data(x.ticks(20))
    .enter().append("svg:text")
    .attr("class", "xLabel")
    .text(String)
    .attr("x", function(d) {
      return x(d)
    })
    .attr("y", 0)
    .attr("text-anchor", "middle")

g.selectAll(".yLabel")
    .data(y.ticks(12))
    .enter().append("svg:text")
    .attr("class", "yLabel")
    .text(String)
    .attr("x", 0)
    .attr("y", function(d) { return -1 * y(d) })
    .attr("text-anchor", "left")
    // .attr("dy", 4)

g.selectAll(".xTicks")
    .data(x.ticks(24))
    .enter().append("svg:line")
    .attr("class", "xTicks")
    .attr("x1", function(d) {
      return x(d);
    })
    .attr("y1", -1 * y(0))
    .attr("x2", function(d) { return x(d); })
    .attr("y2", -1 * y(-0.5))

g.selectAll(".yTicks")
    .data(y.ticks(10))
    .enter().append("svg:line")
    .attr("class", "yTicks")
    .attr("y1", function(d) { return -1 * y(d); })
    .attr("x1", x(-1))
    .attr("y2", function(d) { return -1 * y(d); })
    .attr("x2", x(0))



    var w = 300,                        //width
    h = 300,                            //height
    r = 100,                            //radius
    color = d3.scale.category20c();     //builtin range of colors

    data = [{"label":"mobile", "value":20},
            {"label":"desktop", "value":50},
            {"label":"tablet", "value":30}];

    var vis = d3.select("#canvas-pie_chart")
        .append("svg")
        .data([data])
            .attr("width", w)
            .attr("height", h)
        .append("svg:g")
            .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

    var arc = d3.svg.arc()
        .outerRadius(r);

    var pie = d3.layout.pie()
        .value(function(d) { return d.value; });

    var arcs = vis.selectAll("g.slice")
        .data(pie)
        .enter()
            .append("svg:g")
                .attr("class", "slice");

        arcs.append("svg:path")
                .attr("fill", function(d, i) { return color(i); } )
                .attr("d", arc);

        arcs.append("svg:text")
                .attr("transform", function(d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function(d, i) { return data[i].label; });

    </script>
  </body>
</html>





